{{! The big featured header on the homepage, with the site logo and description }}
<header class="site-header">
	<div class="site-head-content inner">
		<div class="logo">
			<a href="{{@blog.url}}">
				<h1 class="blog-title">{{@blog.title}}</h1>
				<h2 class="blog-description">{{@blog.description}}</h2>
			</a>
		</div>
	</div>
</header>