{{! This is the partial for the sidebar. It resides in the partials folder }}
<aside class="sidebar">

	<section class="profile">

		<div class="portrait">&nbsp;</div>
		<div class="bio">
			<span class="name">Blogger person</span><br />
			<span class="description">Passionate developer and bloger</span>
		</div>
		
	</section>

	<section class="clean">
		<div class="blog-links ">
			<a class="subscribe icon-feed" href="{{@blog.url}}/rss/"><span class="tooltip"></span></a>
		</div>
	</section>
</aside>

